.container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}

.left {
  grid-area: ml;
}

.bottom {
  grid-area: mb;
}

.top {
  grid-area: mt;
}

.right {
  grid-area: mr;
}

.corner {
  grid-area: lc;
}

.marginContent {
  position: absolute;
  width: 100%;
  height: 100%;
  font-weight: bold;
  fill: #a0a0a0;
  font-size: 0.72rem;
  top: 0px;
  overflow: hidden;
  user-select: none;
}
