.container {
  width: auto;
  height: calc(100vh - 2 * 38px);
  border: solid 1px green;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-color: #dbdbdb;
  flex-wrap: nowrap;
  align-content: stretch;
}

.leftFrame {
  margin: 0px 8px 5px 8px;
  flex-grow: 1.5;
}
.centerFrame {
  margin: 0px 8px 5px 8px;
  flex-grow: 1.8;
}
.rightFrame {
  margin: 0px 8px 5px 8px;
  flex-grow: 1.5;
}
